.span4.well

  = form_tag(feeds_subscribe_path) do
    = text_field_tag 'url','', placeholder: 'url'
    = button_tag 'Subscribe',class: 'btn', :disable_with => "Please wait..."
  =render :filters

.span7
  - @feed_entries.each do |e|
    .well
      .control-group
        %label.control-label
          Title
          .controls
            =link_to e.title, e.url
      .control-group
        %label.control-label
          Published date
          .controls
            = e.published_at 
      .control-group
        %label.control-label
          summary
          .controls
            =raw e.summary
    = form_for e,remote: true do |f|
      = f.select :stars, ['no Stars', nil] + (1..5).collect {|i| [  "#{i} star", i ] }, {},
        onchange: "$(this.form).submit();"
