.span4
  .well
    = form_tag(feeds_subscribe_path) do
      = text_field_tag 'url','', placeholder: 'url'
      = button_tag 'Subscribe',class: 'btn', :disable_with => "Please wait..."
  .well
    %form#filters
      =text_field_tag :summary, '', placeholder: 'Search by summary'
      =text_field_tag :title, '', placeholder: 'Search by title'
      = button_tag 'Search',id: 'search',class: 'btn', :disable_with => "Please wait..."

.span7.feed_entries
  - @feed_entries.each do |e|
    %li.well.feed_entry
      =link_to e.title, e.url
      %br
      = e.published_at 
      =raw e.summary
      = form_for e,remote: true do |f|
        = f.select :stars, ['no Stars', nil] + (1..5).collect {|i| [  "#{i} star", i ] }, {},
          onchange: "$(this.form).submit();"
