.well
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    .row
      .span5
        %p
          = f.text_field :first_name, placeholder: 'First name'
        %p
          = f.text_field :last_name, placeholder: 'Last name'
        %p
          = f.email_field :email, placeholder: 'Email'
        %p
          = f.password_field :password, :autocomplete => "off", placeholder: 'Password'
          %br
          %i (leave blank if you don't want to change it)
        %p
          = f.password_field :password_confirmation, placeholder: 'Password confirmation'
        %p
          = f.password_field :current_password, placeholder: 'Current password'
          %br
          %i (we need your current password to confirm your changes)
      .span6 
        
        %p= link_to 'Upload an avatar', "https://en.gravatar.com/site/signup/#{current_user.email}"
        %p= f.select :avatar_size, [400,200,100]
        %p= image_tag avatar_url(current_user)
    %div= f.submit "Update", class: 'btn btn-success'
  %h3 Cancel my account
  %p
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
