= link_to "Fenix Reader", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Feeds', feeds_path
    %li
      = link_to 'Subscribed channels', channels_path
    %li
      = link_to 'Edit account', edit_user_registration_path
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
